@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");
/*
 *
 *   INSPINIA - Responsive Admin Theme
 *   version 2.6.2
 *
*/
h1 {
  font-size: 50px;
}
h2 {
  font-size: 35px;
}
h3 {
  font-size: 20px;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #2794b3;
  outline: 0;
}
.nav > li.active {
  border-left: 4px solid #2794b3;
  background: #293846;
}
.navbar-default .special_link a {
  background: #2794b3;
  color: white;
}
.navbar-default .special_link a:hover {
  background: #2794b3 !important;
  color: white;
}
.navbar-default .special_link a span.label {
  background: #fff;
  color: #2794b3;
}
.navbar-default .landing_link a {
  background: #2794b3;
  color: white;
}
.navbar-default .landing_link a:hover {
  background: #2794b3 !important;
  color: white;
}
.navbar-default .landing_link a span.label {
  background: #fff;
  color: #2794b3;
}
body.mini-navbar .nav-header {
  padding: 0;
  background-color: #2794b3;
}
.top-navigation .navbar-nav .dropdown-menu > .active > a {
  background: white;
  color: #2794b3;
  font-weight: bold;
}
.top-navigation .nav > li a:hover,
.top-navigation .nav > li a:focus {
  background: #fff;
  color: #2794b3;
}
.top-navigation .nav > li.active > a {
  color: #2794b3;
}
.top-navigation .navbar-brand {
  background: #2794b3;
  color: #fff;
  padding: 15px 25px;
}
.navbar-toggle {
  background-color: #2794b3;
  color: #fff;
  padding: 6px 12px;
  font-size: 14px;
}
.btn-primary.btn-outline {
  color: #2794b3;
}
.btn-info.btn-outline {
  color: #2794b3;
}
.btn-primary {
  background-color: #2997ce;
  border-color: #2997ce;
  color: #FFFFFF;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary.active:focus {
  background-color: #2794b3;
  border-color: #2794b3;
  color: #FFFFFF;
}
.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary.active[disabled],
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
  background-color: #2794b3;
  border-color: #2794b3;
}
.btn-info {
  background-color: #2794b3;
  border-color: #2794b3;
  color: #FFFFFF;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info,
.btn-info:active:focus,
.btn-info:active:hover,
.btn-info.active:hover,
.btn-info.active:focus {
  background-color: #2794b3;
  border-color: #2794b3;
  color: #FFFFFF;
}
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled,
.btn-info.disabled:hover,
.btn-info.disabled:focus,
.btn-info.disabled:active,
.btn-info.disabled.active,
.btn-info[disabled],
.btn-info[disabled]:hover,
.btn-info[disabled]:focus,
.btn-info[disabled]:active,
.btn-info.active[disabled],
fieldset[disabled] .btn-info,
fieldset[disabled] .btn-info:hover,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info:active,
fieldset[disabled] .btn-info.active {
  background-color: #2794b3;
  border-color: #2794b3;
}
.btn-link:hover,
.btn-link:focus,
.btn-link:active,
.btn-link.active,
.open .dropdown-toggle.btn-link {
  color: #2997ce;
  text-decoration: none;
}
button.btn-primary.dim {
  box-shadow: inset 0 0 0 #2794b3, 0 5px 0 0 #2794b3, 0 10px 5px #999999;
}
button.btn-primary.dim:active {
  box-shadow: inset 0 0 0 #2794b3, 0 2px 0 0 #2794b3, 0 5px 3px #999999;
}
button.btn-info.dim {
  box-shadow: inset 0 0 0 #2794b3, 0 5px 0 0 #2794b3, 0 10px 5px #999999;
}
button.btn-info.dim:active {
  box-shadow: inset 0 0 0 #2794b3, 0 2px 0 0 #2794b3, 0 5px 3px #999999;
}
.label-primary,
.badge-primary {
  background-color: #2997ce;
  color: #FFFFFF;
}
.label-info,
.badge-info {
  background-color: #2794b3;
  color: #FFFFFF;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #2997ce;
  border-radius: 2px;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #2997ce;
  color: #FFFFFF;
}
.onoffswitch-switch {
  width: 20px;
  margin: 0;
  background: #FFFFFF;
  border: 2px solid #2997ce;
  border-radius: 2px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 44px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}
.fc-state-active {
  background-color: #2997ce;
  border-color: #2997ce;
  color: #ffffff;
}
.fc-event,
.fc-agenda .fc-event-time,
.fc-event a {
  padding: 4px 6px;
  background-color: #2997ce;
  /* background color */
  border-color: #2997ce;
  /* border color */
}
/* LIST GROUP */
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  background-color: #2997ce;
  border-color: #2997ce;
  color: #FFFFFF;
  z-index: 2;
}
.pace .pace-progress {
  background: #2997ce;
  position: fixed;
  z-index: 2040;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}
.form-control:focus,
.single-line:focus {
  border-color: #2997ce !important;
}
.has-success .form-control {
  border-color: #2997ce;
}
.has-success .control-label {
  color: #2997ce;
}
.noUi-connect {
  background: none repeat scroll 0 0 #2997ce;
  box-shadow: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #2997ce;
  border-radius: 3px;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 7px;
  background-color: #61c3f4;
  color: #FFFFFF;
}
.onoffswitch-switch {
  display: block;
  width: 18px;
  margin: 0;
  background: #FFFFFF;
  border: 2px solid #2794b3;
  border-radius: 3px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 36px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}
.ui-jqgrid-titlebar {
  height: 40px;
  line-height: 15px;
  color: #676a6c;
  background-color: #F9F9F9;
  text-shadow: 0 1px 0 #2794b3;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: #F9F9F9;
  border: 1px solid #DDDDDD;
  line-height: 15px;
  font-weight: bold;
  color: #676a6c;
  text-shadow: 0 1px 0 #2794b3;
}
.toast {
  background-color: #2794b3;
}
.toast-success {
  background-color: #2794b3;
}
.toast-error {
  background-color: #ed5565;
}
.toast-info {
  background-color: #2794b3;
}
.inspinia-notify.alert-info {
  border-left: 6px solid #2794b3;
}
/* Image cropper style */
.forum-item.active .fa {
  color: #2794b3;
}
.forum-item.active a.forum-item-title {
  color: #2794b3;
}
.vertical-date small {
  color: #2794b3;
  font-weight: 400;
}
.jvectormap-zoomin,
.jvectormap-zoomout,
.jvectormap-goback {
  position: absolute;
  left: 10px;
  border-radius: 3px;
  background: #2794b3;
  padding: 3px;
  color: white;
  cursor: pointer;
  line-height: 10px;
  text-align: center;
  box-sizing: content-box;
}
/*Slick Carousel */
.slick-prev:before,
.slick-next:before {
  color: #2794b3 !important;
}
/* Payments */

/* Dropzone */
.dropzone {
  min-height: 140px;
  border: 1px dashed #2794b3;
  background: white;
  padding: 20px 20px;
}
.branding {
  float: left;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  padding: 17px 20px;
  text-align: center;
  background-color: #2794b3;
}
.navy-bg,
.bg-success {
  background-color: #2794b3;
  color: #ffffff;
}
.lazur-bg,
.bg-info {
  background-color: #2794b3;
  color: #ffffff;
}
.panel-primary {
  border-color: #2794b3;
}
.panel-primary > .panel-heading {
  background-color: #2794b3;
  border-color: #2794b3;
}
.panel-info {
  border-color: #2794b3;
}
.panel-info > .panel-heading {
  background-color: #2794b3;
  border-color: #2794b3;
  color: #ffffff;
}
.progress-bar {
  background-color: #2794b3;
}
.progress-bar-navy-light {
  background-color: #2794b3;
}
.progress-bar-success {
  background-color: #2794b3;
}
.progress-bar-info {
  background-color: #2794b3;
}
/* COLORS */
.text-navy {
  color: #2794b3;
}
.text-info {
  color: #2794b3;
}
.logo-name {
  color: #8ed0e2;
  font-size: 140px;
  font-weight: 800;
  letter-spacing: -10px;
  margin-bottom: 0;
}
.category-list li a .text-navy {
  color: #2794b3;
}

.category-list li a .text-info {
  color: #2794b3;
}
.file-list li a:hover {
  color: #2794b3;
}
.faq-question {
  font-size: 18px;
  font-weight: 600;
  color: #2794b3;
  display: block;
}
.faq-question:hover {
  color: #2794b3;
}
/* ISSUE TRACKER */
.issue-tracker .btn-link {
  color: #2794b3;
}
.agile-list li.success-element {
  border-left: 3px solid #2794b3;
}
/* DIFF */
ins {
  background-color: #2794b3;
  text-decoration: none;
}
.product-name:hover,
.product-name:focus {
  color: #2794b3;
}
.product-price {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  background-color: #2794b3;
  padding: 6px 12px;
  position: absolute;
  top: -32px;
  right: 0;
}
.vote-actions a {
  color: #2794b3;
  font-weight: 600;
}
.vote-info a:hover {
  color: #2794b3;
}
.vote-icon.active {
  color: #2794b3;
}
.open-small-chat {
  height: 38px;
  width: 38px;
  display: block;
  background: #2794b3;
  padding: 9px 8px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
}
.open-small-chat:hover {
  color: white;
  background: #2794b3;
}
.small-chat-box {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 75px;
  background: #fff;
  border: 1px solid #e7eaec;
  width: 230px;
  height: 320px;
  border-radius: 4px;
}
.small-chat-box .content .chat-message.active {
  background: #2794b3;
  color: #fff;
}
.sk-spinner-rotating-plane.sk-spinner {
  width: 30px;
  height: 30px;
  background-color: #2794b3;
  margin: 0 auto;
  -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
  animation: sk-rotatePlane 1.2s infinite ease-in-out;
}
.sk-spinner-double-bounce .sk-double-bounce1,
.sk-spinner-double-bounce .sk-double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #2794b3;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-doubleBounce 2s infinite ease-in-out;
  animation: sk-doubleBounce 2s infinite ease-in-out;
}
.sk-spinner-wave div {
  background-color: #2794b3;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
  animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
}
.sk-spinner-wandering-cubes .sk-cube1,
.sk-spinner-wandering-cubes .sk-cube2 {
  background-color: #2794b3;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-wanderingCubeMove 1.8s infinite ease-in-out;
  animation: sk-wanderingCubeMove 1.8s infinite ease-in-out;
}
.sk-spinner-pulse.sk-spinner {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background-color: #2794b3;
  border-radius: 100%;
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
  animation: sk-pulseScaleOut 1s infinite ease-in-out;
}
.sk-spinner-chasing-dots .sk-dot1,
.sk-spinner-chasing-dots .sk-dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #2794b3;
  border-radius: 100%;
  -webkit-animation: sk-chasingDotsBounce 2s infinite ease-in-out;
  animation: sk-chasingDotsBounce 2s infinite ease-in-out;
}
.sk-spinner-three-bounce div {
  width: 18px;
  height: 18px;
  background-color: #2794b3;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-threeBounceDelay 1.4s infinite ease-in-out;
  animation: sk-threeBounceDelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.sk-spinner-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 20%;
  height: 20%;
  background-color: #2794b3;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.sk-spinner-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #2794b3;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-spinner-wordpress.sk-spinner {
  background-color: #2794b3;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  position: relative;
  margin: 0 auto;
  -webkit-animation: sk-innerCircle 1s linear infinite;
  animation: sk-innerCircle 1s linear infinite;
}
.sk-spinner-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 18%;
  height: 18%;
  background-color: #2794b3;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.landing-page span.navy {
  color: #2794b3;
}
.landing-page p.text-color {
  color: #676a6c;
}
.landing-page a.navy-link {
  color: #2794b3;
  text-decoration: none;
}
.landing-page a.navy-link:hover {
  color: #2794b3;
}
.landing-page .navy-line {
  width: 60px;
  height: 1px;
  margin: 60px auto 0;
  border-bottom: 2px solid #2794b3;
}
.landing-page .navbar-default .navbar-nav > .active > a,
.landing-page .navbar-default .navbar-nav > .active > a:hover {
  background: transparent;
  color: #fff;
  border-top: 6px solid #2794b3;
}
.landing-page .navbar-default .navbar-nav > li > a:hover,
.landing-page .navbar-default .navbar-nav > li > a:focus {
  color: #2794b3;
  background: inherit;
}
.landing-page .navbar-default .navbar-brand:hover,
.landing-page .navbar-default .navbar-brand:focus {
  background: #2794b3;
  color: #fff;
}
.landing-page .navbar-default .navbar-brand {
  color: #fff;
  height: auto;
  display: block;
  font-size: 14px;
  background: #2794b3;
  padding: 15px 20px 15px 20px;
  border-radius: 0 0 5px 5px;
  font-weight: 700;
  transition: all 0.3s ease-in-out 0s;
}
.landing-page .navbar-scroll.navbar-default .nav li a:hover {
  color: #2794b3;
}
.landing-page .navbar-default .navbar-nav > .active > a,
.landing-page .navbar-default .navbar-nav > .active > a:hover {
  border-top: 6px solid #2794b3;
}
.landing-page .features small {
  color: #2794b3;
}
.landing-page .features-icon {
  color: #2794b3;
  font-size: 40px;
}
.landing-page .navy-section {
  margin-top: 60px;
  background: #2794b3;
  color: #fff;
  padding: 20px 0;
}
.landing-page .social-icon a {
  background: #2794b3;
  color: #fff;
  padding: 4px 8px;
  height: 28px;
  width: 28px;
  display: block;
  border-radius: 50px;
}
.landing-page .social-icon a:hover {
  background: #2794b3;
}
.landing-page .pricing-plan .pricing-price span {
  font-weight: 700;
  color: #2794b3;
}
.landing-page li.pricing-title {
  background: #2794b3;
  color: #fff;
  padding: 10px;
  border-radius: 4px 4px 0 0;
  font-size: 22px;
  font-weight: 600;
}
.landing-page .testimonials {
  padding-top: 80px;
  padding-bottom: 90px;
  background-color: #2794b3;
  background-image: url('../img/landing/avatar_all.png');
}
.landing-page .features .big-icon {
  color: #2794b3 !important;
}
.landing-page .btn-primary {
  background-color: #2794b3;
  border-color: #2794b3;
  color: #FFFFFF;
  font-size: 14px;
  padding: 10px 20px;
  font-weight: 600;
}
.landing-page .btn-primary:hover {
  background-color: #2794b3;
}
.landing-page .btn-primary:focus,
.landing-page .btn-primary:active,
.landing-page .btn-primary.active,
.landing-page .open .dropdown-toggle.btn-primary {
  background-color: #2794b3;
  border-color: #2794b3;
  color: #FFFFFF;
}
.landing-page .btn-primary.disabled,
.landing-page .btn-primary.disabled:hover,
.landing-page .btn-primary.disabled:focus,
.landing-page .btn-primary.disabled:active,
.landing-page .btn-primary.disabled.active,
.landing-page .btn-primary[disabled],
.landing-page .btn-primary[disabled]:hover,
.landing-page .btn-primary[disabled]:focus,
.landing-page .btn-primary[disabled]:active,
.landing-page .btn-primary.active[disabled],
.landing-page fieldset[disabled] .btn-primary,
.landing-page fieldset[disabled] .btn-primary:hover,
.landing-page fieldset[disabled] .btn-primary:focus,
.landing-page fieldset[disabled] .btn-primary:active,
.landing-page fieldset[disabled] .btn-primary.active {
  background-color: #2794b3;
  border-color: #2794b3;
}
  .landing-page .navbar-default .nav li a:hover {
    color: #2794b3;
  }
  .spin-icon {
  background: #2794b3;
  position: absolute;
  padding: 7px 10px 7px 13px;
  border-radius: 20px 0 0 20px;
  font-size: 16px;
  top: 0;
  left: 0;
  width: 40px;
  color: #fff;
  cursor: pointer;
}
.skin-2 .spin-icon {
  background: #2794b3 !important;
}
.skin-2 .nav-header {
  background-color: #2794b3;
  background-image: url('patterns/header-profile-skin-2.png');
}
.skin-2 .page-heading {
  border: none;
  background: #2794b3;
}
.skin-2 .navbar-minimalize {
  background: #2794b3;
  border-color: #2794b3;
}
.skin-2 .dashboard-header {
  background: #2794b3;
  border-bottom: none !important;
  border-top: none;
  padding: 20px 30px 20px 30px;
}
.skin-2 .ibox-title {
  background: #2794b3;
  border: none;
  margin-bottom: 1px;
}
.skin-2 .ibox-content {
  background: #2794b3;
  border: none !important;
}
.md-skin .nav .open > a,
.md-skin .nav .open > a:hover,
.md-skin .nav .open > a:focus {
  background: #2794b3;
}
.md-skin .navbar-fixed-top,
.md-skin .navbar-static-top {
  background-color: #2794b3 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.md-skin.landing-page .navbar-default .navbar-nav > li > a:hover,
.md-skin.landing-page .navbar-default .navbar-nav > li > a:focus {
  background: inherit;
  color: #2794b3;
}
.md-skin.top-navigation .nav > li a:hover,
.md-skin .top-navigation .nav > li a:focus,
.md-skin.top-navigation .nav .open > a,
.md-skin.top-navigation .nav .open > a:hover,
.md-skin.top-navigation .nav .open > a:focus {
  color: #2794b3;
  background: #ffffff;
}
.md-skin.top-navigation .nav > li.active a {
  color: #2794b3;
  background: #ffffff;
}

